<% landing ||= false %>

<% if notice %>
  <p class="flash-notice<% if landing %> landing-flash<% end %> js-fadeUp"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="flash-alert<% if landing %> landing-flash<% end %> js-fadeUp"><%= alert %></p>
<% end %>