<% landing ||= false %>

<% if notice %>
  <p class="flash-notice<% if landing %> landing-flash<% end %>"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="flash-alert<% if landing %> landing-flash<% end %>"><%= alert %></p>
<% end %>