<% user = current_user %>

<% if user %>
  <% role = user.merchant? ? :referer : :merchant %>
    <a href="<%= roles_change_path(role: role) %>" data-remote="true" class="text-link">
    <span class="icon icon-users"></span> <%= role.capitalize %> Účet</a>
<% end %>