.campaigns-body {
  background-color: $bg-gray;

  section.campaigns {
    background-color: white;
    margin-bottom: 30px;
    box-shadow: $base-box-shadow;
    border-radius: $base-border-radius;
    padding: 1.5em;
  }

  h1 {
    margin: 0;
    color: $primary-blue;
    font-weight: bolder;
    font-size: 28px;
  }

  .campaigns-list {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
  }

  .one-campaign {
    padding: 10px 0px 10px 10px;
    border-top: 1px solid $bg-gray;
    position: relative;

    &:last-child {
      border-bottom: 1px solid $bg-gray;
    }

    .name a {
      color: $primary-green;
      font-size: 16px;
      font-weight: normal;

      &:hover {
        text-decoration: underline;
      }
    }

    .url {
      color: #7D7D7D;
      font-weight: lighter;
      font-size: 14px;
    }

    .edit-campaign-btn {
      position: absolute;
      right: 0.5em;
      top: 27px;
    }

    .show-campaign-btn {
      position: absolute;
      right: 6.5em;
      top: 27px;
    }

    .number {
      font-size: 14px;
      font-weight: normal;
    }

    .description {
      font-size: 14px;
      font-weight: lighter;
    }

    .separator {
      font-weight: lighter;
      color: darken($bg-gray, 30%);
    }
  }
}