<%= render partial: 'campaigns/partials/header', locals: { step: 2, campaign: campaign } %>

<div class="controls">
  <%= render partial: 'campaigns/partials/back' %>
</div>

PAYMENTS

<div class="col-12 centered">
  <%= link_to 'Ďalej', codes_campaign_path(campaign), remote: true, "data-type" => "script", class: "btn-big btn-primary-green btn-submit" %>
</div>