<%= content_for :page_title, 'Sharee - landing' %>

<h1>Sharee.io</h1>

<p>To use <b>Sharee Button</b>, paste this code:</p>
<code><%=raw CGI.escape_html @sharee_button_html %></code>

<p>To use <b>Sharee Thank</b>, paste this code:</p>
<code><%=raw CGI.escape_html @sharee_thank_html %></code>

<p>In both cases paste this <b>javascript</b> tag:</p>
<code><%=raw CGI.escape_html @sharee_script_html %></code>

<h3>You are ready to go!</h3>