<%= content_for :page_title, 'Sharee - landing' %>

<%= render 'refills/navigation' %>

<section class="intro">
  <p class="lead">Umožnite svojim návštevníkom stať sa Vašimi partnermi jednoducho</p>
  <p class="sublead">Sharee je prehľadný affiliate systém, do ktorého môžete zapojiť každého návštevníka</p>

  <div class="centered padding-top">
    <a href="#" class="btn btn-medium btn-secondary-white">Ako to funguje?</a>
    <a href="#" class="btn btn-medium btn-primary-green">Vyskúšať hneď</a>
  </div>

  <div class="video">
    <div class="video-wrapper">
        <iframe src="http://www.youtube.com/embed/8ItNE_DX6Cc?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>