<%= content_for :page_title, 'Vyplatenie provízií' %>

<h1>Vyplatenie provízií</h1>

<div class="controls">
  <%= link_to links_path, class: "btn-medium btn-link-blue" do %>
    <span class="icon icon-level-up"></span> Späť na zoznam kampaní
  <% end %>
</div>

<div class="centered">
  <% if @commission > 0 %>
  Na vyplatenie: <%= @commission %> &euro;
  <p>
    <%= link_to 'Odoslať požiadavku', pay_commissions_path, class: 'btn-medium btn-primary-blue', remote: true %>
  </p>
  <% else %>
    <p class="padding-top">Pre vyplatenie potrebujete mať schválených aspoň X &euro;</p>
  <% end %>
</div>