.btn {
  display: inline-block;
  border-radius: $base-border-radius;
  font-family: $base-font-family;
  box-shadow: $base-box-shadow;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
}

.btn-medium {
  @extend .btn;
  font-size: 13px;
  height: 32px;
  padding: 9px 13px;
}

.btn-big {
  @extend .btn;
  font-size: 15px;
  height: 40px;
  padding: 12px 14px;
}

.btn-jumbo {
  font-size: 20px;
  height: 46px;
  padding: 12px 20px;
}

.btn-primary-blue {
  @extend .btn;
  background: $primary-blue;
  color: white;
  border: 1px solid $primary-blue;

  &:hover {
    color: white;
    background: lighten($primary-blue, 5);
  }
}

.btn-primary-green {
  @extend .btn;
  background: $primary-green;
  color: white;
  border: 1px solid $primary-green;

  &:hover {
    color: white;
    background: lighten($primary-green, 5);
  }
}

.btn-primary-white {
  @extend .btn;
  background: white;
  color: $primary-blue;
  border: 1px solid white;

  &:hover {
    color: $primary-blue;
    background: darken(white, 5%);
  }
}

.btn-primary-red {
  @extend .btn;
  background: $primary-red;
  color: white;
  border: 1px solid $primary-red;

  &:hover {
    color: white;
    background: lighten($primary-red, 5);
  }
}

.btn-secondary-white {
  @extend .btn;
  background: transparent;
  color: white;
  border: 1px solid white;

  &:hover {
    color: $primary-blue;
    background: white;
  }
}