form.inline-form {
  display: inline-block;

  @include media($mobile) {
    text-align: center;
  }
}

.form-input {
  border: none;
  border-radius: $base-border-radius;
}

.form-input-big {
  @extend .form-input;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #C5C5C5;

  @include media($mobile) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.field {
  padding-bottom: 10px;

  label,
  em {
    float: left;
    padding-right: 5px;
  }

  input {
    height: 40px;
  }

  input, textarea {
    @extend .form-input;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #C5C5C5;
  }
}

.checkbox-field,
.radio-field {
  input[type="checkbox"],
  input[type="radio"] {
    float: left;
    width: auto;
  }

  label {
    padding-top: 8px;
    padding-left: 8px;
  }

  @include clearfix;
}

.code-input {
  border-radius: $base-border-radius;
  border: 1px solid #C5C5C5;
  background: #FCFCFC;
}