form.inline-form {
  display: inline-block;

  @include media($mobile) {
    text-align: center;
  }
}

.form-input {
  border: none;
  border-radius: $base-border-radius;
}

.form-input-big {
  @extend .form-input;
  height: 40px;
  padding: 5px 10px;

  @include media($mobile) {
    width: 100%;
    margin-bottom: 10px;
  }
}