@import url(http://fonts.googleapis.com/css?family=Dosis:400,500|Open+Sans:400,300&subset=latin,latin-ext);

html {
  font-family: $base-font-family;
}

body {
  background: $bg-gray;
  -webkit-backface-visibility: hidden;
}

a {
  text-decoration: none;
  color: $primary-blue;

  &:hover {
    color: $primary-green;
  }
}

h1 {
  font-family: $heading-font-family;
  font-weight: normal;
  font-size: 36px;
}

h2 {
  font-family: $heading-font-family;
  font-weight: normal;
  margin: 0;
  font-size: 30px;
}

h3 {
  font-family: $heading-font-family;
  font-weight: bolder;
  color: $primary-blue;
  font-size: 22px;
}

h4 {
  font-family: $heading-font-family;
  font-weight: bolder;
  font-size: 20px;
}

hr {
  border: 0;
  height: 1px;
  max-width: 170px;
  margin: 0 auto 20px auto;
  background-color: $primary-blue;
}

.notice,
.alert {
  margin: 0;
}

.centered {
  text-align: center;
}

.light {
  font-weight: lighter;
}

.space-around {
  margin-top: 30px;
  margin-bottom: 30px;
}

.padding-top {
  padding-top: 10px;
}

.padding-top-big {
  padding-top: 60px;
}

.padding-bottom-big {
  padding-bottom: 60px;
}

.noscroll {
  overflow: hidden;
}

.green-color {
  color: $primary-green;
}

.facebook-color {
  color: #435F9A;
}

.twitter-color {
  color: #59ADEB;
}

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0px null null 0px);
    @include size(100%);
  }
}

.sell-table tr td,
.sell-table tr th {
  padding: 10px;
}

.sell-table tr:nth-child(odd) td {
  background: #f5f5f5;
}

.payment-methods li {
  display: inline-block;
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  background: #F0F0F0;
  cursor: pointer;
}

.payment-methods li.active {
  background: #FFE2B5;
}

.payment-methods li:hover {
  background: #FFE2B5;
}

.hide {
  display: none !important;
}
