@import url(http://fonts.googleapis.com/css?family=Dosis:400,500|Open+Sans:400,300&subset=latin,latin-ext);

html {
  font-family: $base-font-family;
}

body {
  background: $bg-gray;
}

.container {
  @include outer-container;
}

.centered {
  text-align: center;
}

.padding-top {
  padding-top: 10px;
}

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
// For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0px null null 0px);
    @include size(100%);
  }
}