@import "neat-helpers";

$tablet-width: em(768);
//$mobile-width: 480px;
$mobile-width: em(630);

// Change the grid settings
$column: em(60);
$gutter: em(20);
$grid-columns: 12;
$max-width: em(960);

// Define breakpoints
$tablet: new-breakpoint(max-width $tablet-width 8);
$mobile: new-breakpoint(max-width $mobile-width 4);