<%= content_for :title, 'Thank you!' %>

<p>Thank you for creating your first sharee link!</p>

<p>You have created the link via this email: <b><%= @resource.email %></b>.</p>

<p>We are sending you an invitation to the email so you can easily start using <b>sharee.io</b>!</p>

<p>By opening the following link you can activate the account that is prepared just for you.</p>

<p><%= link_to I18n.t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>
