<div class="modal">
  <label for="modal-1">
    <div class="btn btn-jumbo btn-primary-green cta">Mám záujem</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>Registrácia</h1>
      <p class="modal-intro">Sharee je momentálne v testovacej prevádzke. Náš tím tvrdo pracuje, aby Vám pripravil bezchybný nástroj. </p>
      <p class="modal-content">
        Zanechajte nám svoj e-mail &mdash; o spustení sa dozviete ako prví a Sharee budete môcť hneď vyskúšať.
      </p>

      <form action="//sharee.us10.list-manage.com/subscribe/post?u=1c825ee94e2e032a1b12db6eb&amp;id=4322e208b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate inline-form" target="_blank" novalidate>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c825ee94e2e032a1b12db6eb_4322e208b2" tabindex="-1" value=""></div>
        <input type="email" name="EMAIL" class="form-input form-input-big" placeholder="Váš email" required>
        <input type="submit" class="btn btn-big btn-primary-green" value="Mám záujem" name="subscribe">
      </form>
      <p class="modal-content"><small>Neposielame žiaden spam.</small></p>
    </div>
  </div>
</div>
