<div class="modal">
  <label for="modal-1">
    <div class="btn btn-jumbo btn-primary-green cta">Mám záujem</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>Registrácia</h1>
      <p class="modal-intro">Sharee je momentálne v beta verzii. Náš tím tvrdo pracuje, aby Vám pripravil bezchybný nástroj. </p>
      <p class="modal-content">
        Zanechajte nám svoj e-mail &mdash; o spustení sa dozviete ako prví a Sharee budete môcť hneď vyskúšať.
      </p>
      <form class="inline-form">
        <input type="email" class="form-input form-input-big" placeholder="Váš email" required>
        <input type="submit" class="btn btn-big btn-primary-green" value="Mám záujem">
      </form>
      <p class="modal-content"><small>Neposielame žiaden spam.</small></p>
    </div>
  </div>
</div>
