<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to root_path, class: 'logo' do %>
      <%= image_tag asset_path 'logo.svg' %>
    <% end %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu">
        <li class="nav-link"><a href="/#steps" class="text-link">Ako to funguje</a></li>
        <li class="nav-link"><a href="/#pricing" class="text-link">Cenník</a></li>
        <div class="on-right">
          <li class="nav-link"><a href="javascript:void(0)" class="text-link">Prihlásenie</a></li>
          <li class="nav-link"><a href="javascript:void(0)" class="btn btn-medium btn-primary-blue">Registrácia</a></li>
        </div>
      </ul>
    </nav>
  </div>
</header>
