<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to root_path, class: 'logo' do %>
      <%= image_tag asset_path 'logo.svg' %>
    <% end %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu">
        <li class="nav-link"><a href="#steps" class="text-link js-nav-link">Ako to funguje</a></li>
        <li class="nav-link"><a href="#pricing" class="text-link js-nav-link">Cenník</a></li>
        <div class="on-right">
          <li class="nav-link"><%= link_to "Prihlásenie", new_user_session_path, class: "text-link js-nav-link" %></li>
          <li class="nav-link">
            <label for="modal-1">
              <div class="btn btn-medium btn-primary-blue js-nav-link">Registrácia</div>
            </label>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</header>
