<!DOCTYPE html>
<html>
<%= render 'layouts/shared/head' %>
<body class="devise-body">

  <%= render 'layouts/shared/bars' %>

  <div class="container centered">
    <h1><%= yield(:page_heading) %></h1>

    <div class="col-4 col-offset-4">
      <%= yield %>
    </div>
  </div>

</body>
</html>
