<!DOCTYPE html>
<html>
<%= render 'layouts/shared/head' %>
<body class="campaigns-body">

  <%= render 'layouts/shared/bars' %>
  <%= render 'refills/account_navigation' %>

  <section class="campaigns container">
    <%= yield %>
  </section>

</body>
</html>
