<html>
  <body>
    <style>
      p, h3 {
        font-family: Arial, sans-serif;
      }
    </style>

    <a href="http://sharee.io" target="_blank" title="Sharee.io"><img src="http://localhost:5000/logo.png" alt="Logo" height="18px"></a>
    <h3><%= yield :title %></h3>

    <%= yield %>

    <p>If you have any questions just reply to this email.</p>

    <p>Regards,<br>
    Sharee.io team.</p>
  </body>
</html>
